

/* general itens */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

html{
    background-color: #212121;
}

body{
    display: grid;
    grid-template-columns: 18.04vw 82.708vw;
    grid-template-rows: 4.8vh 24.288vh 11.022vh 50.222vh ;
    grid-template-areas: 
        "side-menu top-menu"
        "side-menu banner"
        "side-menu middle-menu"
        "side-menu video-gallery";
    column-gap: 5px;
    row-gap: 10px;
}

a{
    text-decoration: none;
    margin: 5%;
}

sup{
    font-size: 0.5rem;
}

li{
    display: flex;
    flex-direction: column;

}

.icons{
    padding-right: 1.225rem;
}

/* side menu section */

/* general layout */
.side-menu{
    grid-area: side-menu;
    border: 2px solid yellow;
    width: 16.04vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* child elements layout */
.side-menu > div{
    margin-bottom: 10%;
    padding: 3%;
}


.separator{
    height: 0%;
    width: 100%;
    border-bottom: 0.1px solid rgba(168, 165, 165, 0.356);
    margin-bottom:10%;
}

/* icons layout */
.burguer-menu{
    margin-right: 12%;
}

/* top menu section */
.top-menu{
    grid-area: top-menu;
    border: 2px solid blue;
}

input{
    background-color: #0F0F0F;
    border: 0.6px solid rgba(128, 128, 128, 0.377);
}

/* banner section */

.banner{
    grid-area: banner;
    border: 2px solid green;
}

/* middle section */

.middle-menu{
    grid-area: middle-menu;
    border: 2px solid purple;
}

/* video gallery */

.video-gallery{
    grid-area: video-gallery;
    border: 2px dashed yellow;
    background-color: #0F0F0F;
}