/* side menu section */

/* general layout */
.side-menu {
  grid-area: side-menu;
  // border: 2px solid yellow;
  width: 16.04vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* child elements layout */
.side-menu > div {
  margin-bottom: 10%;
  padding: 3%;
}

.separator {
  height: 0%;
  width: 100%;
  border-bottom: 0.1px solid rgba(168, 165, 165, 0.356);
  margin-bottom: 10%;
}
