/* video gallery */

.video-gallery {
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap; 
  padding: 2%;

  div[class*=row]{
    display: flex;
    padding: 2%;
    justify-content: start;
    flex-wrap: wrap;

    div{
      padding: 2%;
    }
  }
}

.video-title{

  .video-information{
    text-align: left;
  }
  &::before{
    content: "#{$randomNum}";
  }
}

section[class="video-gallery"] img {
  width: 14.218vw;
  height: 12.888vh;
}


