/* video gallery */

.video-gallery {
  background-color: $input-background-color;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap; 
  padding: 2%;

  div[class*=row]{
    display: flex;
    padding: 2%;
    justify-content: start;
    flex-wrap: wrap;
    border-bottom: 1px solid $separator-color;

    div{
      padding: 1%;
    }
  }
}

.video-title{

  .video-information{
    text-align: left;
   

    &::before{
      content: "#{$randomNum}";
    }
    .information-footer, .infomation-footer span {
      display: flex;
      flex-wrap: wrap;
      color: $separator-color;
      font-size: 0.8em;
    }
  }
  
}

section[class="video-gallery"] img {
  width: 14.218vw;
  height: 12.888vh;
}

