//Variables
// $fa-font-path: "../vendor/fontawesome/webfonts";

// colors
$primary-background-color: #212121;
$primary-letter-color: white;
$primary-button-color: #313131;
$input-background-color: #0f0f0f;
$input-border-color:  rgba(128, 128, 128, 0.377);

// sizes


// others
$randomNum: floor((random() * 100) + 1);